<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.appgeneration.itunerfree" platformBuildVersionCode="22" platformBuildVersionName="5.1.1-1819727">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <permission android:name="com.appgeneration.itunerfree.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.appgeneration.itunerfree.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:name="android.hardware.LOCATION" android:required="false"/>
    <uses-feature android:name="android.hardware.location.NETWORK" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.LANDSCAPE" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.PORTRAIT" android:required="false"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:killAfterRestore="true" android:label="@string/app_name" android:largeHeap="true" android:name="com.appgeneration.ituner.MyApplication" android:theme="@style/AppTheme">
        <meta-data android:name="@string/manifest_key_app_def_free" android:value="true"/>
        <meta-data android:name="@string/manifest_key_app_def_records" android:value="true"/>
        <meta-data android:name="@string/manifest_key_app_def_podcasts" android:value="true"/>
        <meta-data android:name="@string/manifest_key_app_def_buy_songs" android:value="true"/>
        <meta-data android:name="@string/manifest_key_app_def_codename" android:value="@string/manifest_key_version_google_free"/>
        <meta-data android:name="@string/manifest_key_app_def_app_url" android:value="https://play.google.com/store/apps/details?id=com.appgeneration.itunerfree"/>
        <meta-data android:name="@string/manifest_key_app_def_pro_url" android:value="https://play.google.com/store/apps/details?id=com.appgeneration.itunerpro"/>
        <meta-data android:name="@string/manifest_key_app_def_billing_public_key" android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAk4GZexaiZKMCZe4ukjssjH20q+HR8GZOWTMaokfSVn7iLxy5m4xhDmUN8GrXEnB3sml7ouFh7m5VUsQ1Qg2bs49q61eS5YpouB1Dpkihh2NXCwQ46bKrqf7VHvtuh7xFoOdz/hzYsKADrBluaFtlvEHUgKo4UBZqFfiaiJePpCWLEJSbd6sHeEq/8r/7gofiV/4kst7KpabLJZWOdqLkWuzByJ7lVeRIU6jrcVx+0wl/qIYsJKBaXhH2D33kPJ4NLcO3oNFjsZ6Y3uzNKnksmgn8YbQXs7RXOXmuE6OQiLIRbCTpGdPhTag6StWwKeDbOzsvJBj5pdTT410MNf6M3QIDAQAB"/>
        <meta-data android:name="@string/manifest_key_app_def_billing_sku" android:value="pro_upgrade"/>
        <meta-data android:name="@string/manifest_key_analytics_google_analytics" android:value="UA-44912974-3"/>
        <meta-data android:name="@string/manifest_key_analytics_cross_selling" android:value="L424"/>
        <meta-data android:name="@string/manifest_key_analytics_cross_selling_sender_id" android:value="L651104354482"/>
        <meta-data android:name="@string/manifest_key_analytics_amazon" android:value="673d6a1d46154889a73af1836e553563"/>
        <meta-data android:name="@string/manifest_key_pub_amazon" android:value="673d6a1d46154889a73af1836e553563"/>
        <meta-data android:name="@string/manifest_key_pub_facebook_banner" android:value="594495070580008_858611464168366"/>
        <meta-data android:name="@string/manifest_key_pub_mopub_banner_tablet" android:value="cc467c55947d499fbc219c27c6dbfd24"/>
        <meta-data android:name="@string/manifest_key_pub_mopub_banner_phone" android:value="15326bfa021d4ae49fe714b802d256d3"/>
        <meta-data android:name="@string/manifest_key_pub_smaato_banner_publisher_id" android:value="923878698"/>
        <meta-data android:name="@string/manifest_key_pub_smaato_banner" android:value="65834960"/>
        <meta-data android:name="@string/manifest_key_pub_facebook_interstitial" android:value="594495070580008_858612437501602"/>
        <meta-data android:name="@string/manifest_key_pub_mopub_interstitial_phone" android:value="f3532820b21a46eeaf60a0ac505c2f2a"/>
        <meta-data android:name="@string/manifest_key_pub_mopub_interstitial_tablet" android:value="5f416d21519d442daa094a820257f45d"/>
        <meta-data android:name="@string/manifest_key_pub_smaato_interstitial_publisher_id" android:value="923878698"/>
        <meta-data android:name="@string/manifest_key_pub_smaato_interstitial" android:value="65837204"/>
        <meta-data android:name="@string/manifest_key_pub_admob_banner" android:value="ca-app-pub-0085763304086106/1070561221"/>
        <meta-data android:name="@string/manifest_key_pub_admob_interstitial" android:value="ca-app-pub-0085763304086106/2547294429"/>
        <meta-data android:name="@string/manifest_key_pub_admob_premium_banner" android:value="ca-app-pub-0085763304086106/9762032824"/>
        <meta-data android:name="@string/manifest_key_pub_admob_premium_interstitial" android:value="ca-app-pub-0085763304086106/2238766026"/>
        <meta-data android:name="@string/manifest_key_pub_tappx" android:value="/120940746/Pub-3211-Android-6096"/>
        <service android:name="com.appgeneration.agcrossselling2.openudid.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID"/>
            </intent-filter>
        </service>
        <service android:name="com.appgeneration.ituner.openudid.OpenUDID_service">
            <intent-filter>
                <action android:name="org.openudid.GETUDID"/>
            </intent-filter>
        </service>
        <receiver android:name="com.appgeneration.ituner.media.service.MediaButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.appgeneration.ituner.version.LongTimeNoSeeReceiver"/>
        <receiver android:name="com.appgeneration.ituner.utils.AlarmScheduler"/>
        <receiver android:name="com.google.android.gcm.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.google.android.gcm"/>
            </intent-filter>
        </receiver>
        <service android:name="com.appgeneration.ituner.wear.WearListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>
        </service>
        <service android:name="com.google.android.gcm.GcmIntentService"/>
        <receiver android:name="com.appgeneration.ituner.widget.MyTunerWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info"/>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.appgeneration.ituner.activities.SplashActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="mytuner.mobi" android:pathPrefix="/radio/" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="www.mytuner.mobi" android:pathPrefix="/radio/" android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.bosch.myspin.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:launchMode="singleTask" android:name="com.appgeneration.ituner.activities.DrawerMainActivity" android:screenOrientation="portrait" android:theme="@style/myTunerStyle" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:launchMode="singleTask" android:name="com.appgeneration.ituner.activities.TabletMainActivity" android:screenOrientation="sensorLandscape" android:theme="@style/myTunerStyle_tablet" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.appgeneration.ituner.activities.SearchActivity" android:parentActivityName="com.appgeneration.ituner.activities.DrawerMainActivity" android:theme="@style/myTunerSearchStyle" android:windowSoftInputMode="stateVisible">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.appgeneration.ituner.activities.DrawerMainActivity"/>
        </activity>
        <activity android:name="com.appgeneration.ituner.activities.SuggestRadioActivity" android:theme="@style/myTunerDialogStyle"/>
        <activity android:name="com.appgeneration.ituner.activities.RegisterActivity" android:theme="@style/myTunerDialogStyle"/>
        <service android:name="com.appgeneration.ituner.media.service.MediaService"/>
        <service android:name="com.appgeneration.ituner.data.api.APISyncService"/>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="e94168ebead5295ff1db3e5546223ff7edf72e59"/>
        <receiver android:enabled="true" android:name="com.google.android.gms.analytics.AnalyticsReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <receiver android:exported="true" android:name="com.google.android.gms.analytics.CampaignTrackingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
        <activity android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <service android:name="com.beintoo.beaudiencesdk.model.Collector"/>
        <receiver android:name="com.beintoo.beaudiencesdk.receiver.CoverageReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:name="com.smaato.soma.interstitial.InterstitialActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.facebook.ads.InterstitialAdActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.amazon.device.ads.AdActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MoPubActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.MoPubBrowser"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidVideoPlayerActivity"/>
        <receiver android:exported="true" android:name="com.appgeneration.ituner.ad.ReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.inmobi.androidsdk.IMBrowserActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.adsdk.sdk.banner.InAppWebView"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:hardwareAccelerated="false" android:name="com.adsdk.sdk.video.RichMediaActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.adsdk.sdk.mraid.MraidBrowser"/>
        <activity android:label="@string/app_name" android:name="com.mobfox.sdk.adapters.AdMobInterstitialActivity"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:enabled="true" android:name="com.xone.internal.XoneService"/>
        <activity android:label="@string/title_activity_popup" android:name="com.xone.internal.ListingActivity" android:theme="@style/Theme.Transparent"/>
        <receiver android:enabled="true" android:name="com.xone.internal.StartupManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name="com.xone.internal.BluetoothStateReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.google.android.gms.ads.purchase.InAppPurchaseActivity" android:theme="@style/Theme.IAPTheme"/>
        <activity android:label="RecyclerViewTestActivity" android:name="android.support.v7.widget.TestActivity"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <receiver android:exported="false" android:name="com.google.android.gms.wallet.EnableWalletOptimizationReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wallet.ENABLE_WALLET_OPTIMIZATION"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/mmadsdk_app_name" android:name="com.millennialmedia.internal.MMActivity" android:theme="@style/Theme.MMTransparent"/>
        <activity android:label="sdk" android:name="com.millennialmedia.internal.MMIntentWrapperActivity"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>