<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ak.alizandro.smartaudiobookplayer" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="ak.alizandro.smartaudiobookplayer.SABPApplication" android:theme="@style/AppThemeCompatBlack">
        <activity android:label="@string/library" android:name="ak.alizandro.smartaudiobookplayer.LibraryActivity"/>
        <activity android:label="@string/settings" android:name="ak.alizandro.smartaudiobookplayer.LibrarySettingsActivity"/>
        <activity android:label="@string/help" android:name="ak.alizandro.smartaudiobookplayer.HelpActivity"/>
        <activity android:label="@string/select_root_folder" android:name="ak.alizandro.smartaudiobookplayer.RootFolderSelectionActivity"/>
        <activity android:name="ak.alizandro.smartaudiobookplayer.PlayerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/history_of_playback" android:name="ak.alizandro.smartaudiobookplayer.HistoryActivity"/>
        <activity android:label="@string/list_of_characters" android:name="ak.alizandro.smartaudiobookplayer.CharactersActivity"/>
        <activity android:label="@string/bookmarks" android:name="ak.alizandro.smartaudiobookplayer.BookmarksActivity"/>
        <activity android:label="@string/search_cover" android:name="ak.alizandro.smartaudiobookplayer.SearchCoverActivity"/>
        <activity android:label="@string/settings" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsActivity"/>
        <activity android:label="@string/playback" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsPlaybackActivity"/>
        <activity android:label="@string/sleep" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsSleepActivity"/>
        <activity android:label="@string/full_version_settings" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsFullVersionSettingsActivity"/>
        <activity android:label="@string/troubleshooting" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsTroubleshootingActivity"/>
        <activity android:label="@string/advanced" android:name="ak.alizandro.smartaudiobookplayer.PlayerSettingsAdvancedActivity"/>
        <service android:name="ak.alizandro.smartaudiobookplayer.PlayerService">
            <intent-filter>
                <action android:name="ak.alizandro.smartaudiobookplayer.ActionPlayPause"/>
                <action android:name="ak.alizandro.smartaudiobookplayer.ActionRewindBig"/>
                <action android:name="ak.alizandro.smartaudiobookplayer.ActionRewindSmall"/>
                <action android:name="ak.alizandro.smartaudiobookplayer.ActionAddBookmark"/>
                <action android:name="ak.alizandro.smartaudiobookplayer.ActionExit"/>
            </intent-filter>
        </service>
        <service android:name="ak.alizandro.smartaudiobookplayer.cloudsync.CloudSyncUploadService"/>
        <receiver android:name="ak.alizandro.smartaudiobookplayer.RemoteControlReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="ak.alizandro.smartaudiobookplayer.PlayerAppWidgetMicroProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_appwidget_micro_info"/>
        </receiver>
        <receiver android:name="ak.alizandro.smartaudiobookplayer.PlayerAppWidgetSmallProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_appwidget_small_info"/>
        </receiver>
        <receiver android:name="ak.alizandro.smartaudiobookplayer.PlayerAppWidgetLargeProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/player_appwidget_large_info"/>
        </receiver>
        <receiver android:name="ak.alizandro.smartaudiobookplayer.BluetoothConnectionReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <service android:name="ak.alizandro.smartaudiobookplayer.WearableListenerServiceOnPhone">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED"/>
                <data android:host="*" android:pathPrefix="/to_phone" android:scheme="wear"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc"/>
        <service android:exported="true" android:name="ak.alizandro.smartaudiobookplayer.MyMediaBrowserService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>